.nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.2rem; 
}

.site-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.site-name img {
  width: 40px; 
  height: auto;
  transition: transform 0.3s ease; 
  
}

.site-name img:hover {
  transform: scale(1.05);
}

.site-name h1 {
  font-size: 1.3rem; 
  font-weight: 700; 
  transition: color 0.3s ease;
}

.site-name h1:hover {
  color: #f97316;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links ul {
  display: flex;
  gap: 1rem; 
  list-style: none;
}

.nav-links a {
  text-decoration: none; 
  font-size: 1rem;
  font-weight: 600; 
  color: #333;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
  color: #f97316; 
  transform: scale(1.05); 
}

.menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px; 
  transition: transform 0.3s ease;
}

.menu:hover {
  transform: scale(1.1);
}

.menu span {
  width: 22px; 
  height: 2.5px;
  background: #333;
  border-radius: 3px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .site-name img {
    width: 35px; 
  }

  .site-name h1 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .menu {
    display: flex;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 0;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 0.8rem; 
    gap: 0.8rem;

    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 0.6rem; 
  }

  .nav-links a {
    font-size: 0.95rem; 
    font-weight: 500;   
  }

  .nav-links a:hover {
    color: #f97316;
    transform: translateX(5px);
  }
}


@media (max-width: 480px) {
  .site-name img {
    width: 30px; 
  }

  .site-name h1 {
    font-size: 1rem;
    font-weight: 700;
  }

  .nav-inner {
    padding: 0.4rem 0.8rem; 
  }

  .nav-links {
    width: 50%;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    top: 55px; 
    background-color: lightblue;
  }

  .nav-links a {
    font-size: 0.9rem; 
    font-weight: 500;
  }
  .nav-links a:hover{
    color: #f97316;
    transform: translateX(5px);
    
  }
}
